{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Job Form{% endblock %}

{% block content %}
<div class="container py-4">

  <h2 class="text-primary fw-bold mb-4">Job Form</h2>

  <div class="card shadow-sm">
    <div class="card-body">

      <form method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.errors %}
              <div class="text-danger small">
                {{ field.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">
          Save Job
        </button>
      </form>

    </div>
  </div>

</div>
{% endblock %}
